fastapi
uvicorn[standard]
gunicorn
sqlmodel
python-dotenv
alembic
sqlalchemy
psycopg2-binary
python-multipart
apscheduler
python-jose[cryptography]
passlib[bcrypt]
pytesseract
pillow
httpx
openpyxl
pypdf
mammoth
python-docx
pdfplumber
PyPDF2
pdf2image

